
.bookTable{
    @include myFlex(flex, center, center, none, column);

.bookTableTop{
     padding-bottom: 5rem;
    text-align: center;
    @include myFlex(flex, center, center, none, column);
    h6 {
      font-size: 15px;
      font-weight: 600;
      color: $main-color;
      background-color: #fff7eb;
      padding: 7px 20px;
      border-radius: 30px;
      margin-bottom: 15px;
    }
    h2 {
      font-family: "Satisfy", cursive;
      font-size: 30px;
      font-weight: 600;
      span {
        color: $main-color;
      }
    }
}
.bookTableMain{
    @include myFlex(flex, center, none, none, row);
    width: 85vw;
    height: 70vh;
    background-color: #F9F9F9;
    .reservationImg{
        width: 33%;
        height: 100%;
        img{
        height: 100%;
        width: 100%;
        }
        
    }
    .reservationInfo{
        width: 67%;
        height:100% ;
        @include myFlex(flex, center, center, 20px, column);
        .inputs{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr;
            gap: 1.5rem;
            div{
                input{
                    width: 16rem;
                    height: 2.7rem;
                    padding-inline: 1rem;
                    border: lightgray solid 1px;
                    transition: .3s;
                }
                input:focus{
                    border: solid 1px $main-color !important;
                   outline: none;
                }
                
                
            }
        }
        .message{
            width: 51rem;
            height: 8rem;
            textarea{
                width: 100%;
                height: 100%;
                padding: .5rem 1rem;
                border: lightgray solid 1px;
                transition: .3s;
            }
            textarea:focus{
                    border: solid 1px $main-color !important;
                   outline: none;
                }
        }
        .submit-button{
            button{
            padding: .8rem 4rem;
            border: none;
            border-radius: 3px;
            color: white;
            background-color: $main-color;
            }
        }
    }
}
}