.contact{
    margin-block: 7rem;
    .contactTop{
        padding-bottom: 5rem;
    text-align: center;
    @include myFlex(flex, center, center, none, column);
    h6 {
      font-size: 15px;
      font-weight: 600;
      color: $main-color;
      background-color: #fff7eb;
      padding: 7px 20px;
      border-radius: 30px;
      margin-bottom: 15px;
    }
    h2 {
      font-family: "Satisfy", cursive;
      font-size: 30px;
      font-weight: 600;
      span {
        color: $main-color;
      }
    }
    }
    .contactMain{
        @include myFlex(flex, none, none, 2rem, column) ;
        .contactMessage{
            @include myFlex(flex, none, center, 3rem, row);
            .contactInputs{
                height:70vh ;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr ;
                gap: 2rem;
                .Name-Email{
                    width: 55vw;
                    height: 3rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr ;
                    gap: 1.7rem;
                    input{
                        padding-inline:10px ;
                        border: 1px solid lightgrey;
                        outline: none;
                        transition: .4s;
                    }
                    input:focus{
                        border-color: $main-color;
                    }
                }
                .Sub{
                    width: 55vw;
                    height: 3rem;
                    input{
                        width: 100%;
                        height: 3rem;
                        padding-inline:10px ;
                        border: 1px solid lightgrey;
                        outline: none;
                        transition: .4s;
                    }
                    input:focus{
                        border-color: $main-color;
                    }
                }
                .Mess{
                    width: 55vw;
                    height: 17rem;
                    textarea{
                        width: 100%;
                        height: 100%;
                        padding-top: 10px;
                        padding-left: 10px;
                        border: 1px solid lightgray;
                        outline: none;
                        transition: .4s;
                    }
                    textarea:focus{
                        border-color: $main-color;
                    }
                }
                .ConButt{
                    @include myFlex(flex, center, center, none, row) ;
                    button{
                    padding: .8rem 3rem;
                    background-color: $main-color;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    }
                }
            }
            .GetInTouch{
                box-shadow: 0 4px 10px rgba(0,0,0,0.3);
                @include myFlex(flex, center, center, none, column);
                width: 25vw;
                height: 60vh;
                .touchBlabla{
                    width: 80%;
                    h3{
                        font-family: "Satisfy", cursive;
                        font-weight: 600;
                        width: 100%;
                    }
                    p{
                        width: 100%;
                    }
                }
                .touchInfos{
                    width: 80%;
                    .info{
                       border-bottom: solid 1px darkgray ;
                       padding-top: 20px;
                        @include myFlex(flex, center, start, 2rem, row);
                        .infoI{
                           
                            i{
                                position: relative;
                                top: -2rem;
                                font-size: 25px;
                                color: $main-color;
                            }
                            
                        }
                        .infoT{
                            h5{
                                font-family: "Satisfy", cursive;   
                                font-weight: 600;                            
                            }
                            p{
                                color: darkgrey;
                              font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}