.gallery{
    margin-block: 5rem;
    .galleryTop{
         padding-bottom: 5rem;
    text-align: center;
    @include myFlex(flex, center, center, none, column);
    h6 {
      font-size: 15px;
      font-weight: 600;
      color: $main-color;
      background-color: #fff7eb;
      padding: 7px 20px;
      border-radius: 30px;
      margin-bottom: 15px;
    }
    h2 {
      font-family: "Satisfy", cursive;
      font-size: 30px;
      font-weight: 600;
      span {
        color: $main-color;
      }
    }
    }
    .galleryMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 3px;
        padding-inline: 10px;
        div{
            width: 23.3rem;
            height: 18rem;
            overflow: hidden;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                transition: transform 0.4s ease;
                
            }
            
            }
            div:hover img{
                transform: scale(1.1);
        }
    }
}