
.Menu-top{
    padding-bottom: 5rem;
    text-align: center;
    @include myFlex(flex, center, center, none, column);
    h6 {
      font-size: 15px;
      font-weight: 600;
      color: $main-color;
      background-color: #fff7eb;
      padding: 7px 20px;
      border-radius: 30px;
      margin-bottom: 15px;
    }
    h2 {
      font-family: "Satisfy", cursive;
      font-size: 30px;
      font-weight: 600;
      span {
        color: $main-color;
      }
    }
}
.categories{
    @include myFlex(flex, center, center, 30px, row);
    padding-bottom: 4rem;
    a{
        text-decoration: none;
        font-family: "Satisfy", cursive;
        color: #7f7f7f;
        transition: .3s;
       
    }
     a:hover{
        color: $main-color;
    }
    a:focus{
        color: $main-color;
    }

}


.mainMenu {
  flex-wrap: wrap;
  @include myFlex(flex, none, space-between, none, row);
  padding-inline: 5rem;
}

.menu-item {
  width: 43vw;
  padding-bottom: 3rem;
  @include myFlex(flex, start, none, 20px, row);

  
  position: relative;

  .menu-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #eee;
  }

  .menu-content {
    width: 100%;

    h3 {
      font-size: 17px;
      font-weight: 600;
      position: relative;
      padding-right: 10px;
      transition: .3s;

      /* dotted line */
      &::after {
        content: "";
        display: block;
        border-bottom: 2px dotted #ccc;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -8px;
      }
    }
    h3:hover{
      color: $main-color;
      cursor: pointer;
    }

    p {
      margin-top: 10px;
      font-size: 16px;
      font-style: italic;
      color: #7f7f7f;

    }
  }

  .menu-price {
    font-weight: 700;
    color: $main-color;
    margin-left: 10px;
    white-space: nowrap;
  }
}
