*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NAV{
    width: 100%;
}
.NavBar{
    @include myFlex(flex, center, space-between, none, row) ;
    height: 9vh;
    background-color: transparent;
    padding-inline: 7rem;
    background: rgba(0, 0, 0, 0.46);
}
.topNav{
    @include myFlex(flex, center, space-between, none, row) ;
    height: 6vh;
    background-color: transparent;
    padding-inline: 7rem;
    background: rgba(0, 0, 0, 0.68);
}
.topNavLeft{
    @include myFlex(flex, center, none, 20px, row) ;
}
.topNavLeft div i{
    color: $main-color;
    padding-right: 5px;
}
.topNavLeft div{
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.topNavRight button{
    background-color: $main-color ;
    border: none;
    border-radius: 30px;
    padding: 5px 30px;
    color: white;
    font-weight: 500;
}
.logo{
    font-size: 30px;
    color: white;
    font-family: "Satisfy", cursive;
    font-weight: 600;
}

.links {
    @include myFlex(flex, center, space-between, 2.5rem, row)
}
.links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.links  :hover {
    color: $main-color;
    transition: .2s;
}
body{
    height: 500vh;
}