.specialsTop{
     padding-bottom: 5rem;
    text-align: center;
    @include myFlex(flex, center, center, none, column);
    h6 {
      font-size: 15px;
      font-weight: 600;
      color: $main-color;
      background-color: #fff7eb;
      padding: 7px 20px;
      border-radius: 30px;
      margin-bottom: 15px;
    }
    h2 {
      font-family: "Satisfy", cursive;
      font-size: 30px;
      font-weight: 600;
      span {
        color: $main-color;
      }
    }
}
.specialsimg img{
    width: 300px;
    height: 300px;
}
.SpecialsMain{
    width: 99vw;
    height: 100%;
    padding-inline: 5rem;
    display: grid;
    grid-template-columns: 25vw 40vw 25vw;
    .specialsHover{
        
        div{
            width: 90%;
            height: 3rem;
            border-right: solid 3px lightgray;
            @include myFlex(flex, center, none, none, row);
            cursor: pointer;
            transition: .3s;
        }
        div:hover{
            color: $main-color;
            border-right: 3px solid $main-color;
        }

    }
    .specialsblabla{
        height: 12rem;
        h3{
            font-family: "Satisfy", cursive;
            font-weight: 600;
            padding-bottom: 1rem;
        }
        .specialItalic{
            color: #7f7f7f;
            font-style: italic;
        }
    }
}