.whyUs {
  .whyUsTop {
    padding-bottom: 5rem;
    text-align: center;
    @include myFlex(flex, center, center, none, column);
    h6 {
      font-size: 13px;
      font-weight: 700;
      color: $main-color;
      background-color: #fff7eb;
      padding: 7px 20px;
      border-radius: 30px;
    }
    h2 {
      font-family: "Satisfy", cursive;
      font-size: 30px;
      font-weight: 600;
      span {
        color: $main-color;
      }
    }
  }
  padding-block: 60px;
  @include myFlex(flex, center, center, none, column);
  .whyUsMain {
    @include myFlex(flex, center, space-evenly, 1.5rem, row);
    padding-inline: 6rem;
    .whycon {
      @include myFlex(flex, center, center, 20px, column);
      background-color: #f9f9f9;
      width: 26rem;
      height: 17rem;
      h2 {
        color: $main-color;
        font-size: 26px;
        font-weight: 700;
      }
      h3 {
        color: black;
        font-size: 23px;
        font-weight: 600;
        font-family: "Satisfy", cursive;
      }
      p {
        color: rgb(138, 138, 138);
        font-size: 14px;
      }
      .whyCard {
        padding-inline: 2rem;
        height: 17rem;
        @include myFlex(flex, none, center, 20px, column);
        transition: 0.5s !important;
        
      }
    }
    .whycon :hover {
    h2, h3, p{
    position: relative;
    top: -20px;
}

      background-color: $main-color;
      h2,
      h3,
      p {
        color: white;
      }
    }
  }
}


h2, h3, p{
    position: relative;
    top: 0;
    transition: .5s;
}
 