@import './modules/about' ;
@import './modules/bookTable' ;
@import './modules/chefs' ;
@import './modules/contact' ;
@import './modules/events' ;
@import './modules/footer' ;
@import './modules/gallery' ;
@import './modules/home' ;
@import './modules/menu' ;
@import './modules/nav' ;
@import './modules/reveiws' ;
@import './modules/specials' ;
@import './modules/whyUs' ;
