
@import '../../node_modules/bootstrap/scss/functions'  ;
@import '../../node_modules/bootstrap/scss/variables' ;


$main-color: #FFB03B ;

$myNewColors: (
    "": $main-color
) ;

$theme-colors: map-merge($theme-colors, $myNewColors) ;







@import '../../node_modules/bootstrap/scss/bootstrap.scss' ;
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css' ;
@import './variables' ;
@import './mixin' ;
@import './allModules' ;